body {
	width:100%;
	height:100%;
	font-family:Open Sans,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#fff;
	background-color:#000;
	 font-weight:300;
}
html {
	width:100%;
	height:100%;
}
h1,h2,h3,h4,h5,h6 {
	margin:0 0 35px;
	text-transform:uppercase;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:700;
	letter-spacing:1px;
}
p {
	margin:0 0 25px;
	font-size:18px;
	line-height:1.5;
}